/* Header section*/
body{
    text-align: center;
    background-color: rosybrown;
    font-family: 'Sora', sans-serif;
}
.firstimage{
    width: 50%;
    height: 50%;
    border-radius: 50%;
}
.navbar{
    list-style-type: none;
    margin: 0;
    padding: 0;
     overflow: hidden;
     background-color: #333;
     position: fixed;
     top: 0;
     width: 100%;
}
.navbar1{
    float: left;
}
.navbar1 a{
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
}
.navbar1 a:hover {
    background-color:blueviolet;
  }